<div class="text-center">
  <h2>Lotes Favoritos</h2>

  <% @favorites.each do |f| %>
    <div>
      <%= link_to "Lote #{f.lot.code}", auction_path(f.lot.id) %>
    </div>
  <% end %>

  <% if @favorites.empty? %>
    <p>Lista de favoritos vazia</p>
  <% end %>
</div>