<div class="text-center">
  <h2>Selecione um Item para Adicionar ao Lote</h2>

  <% if @items.empty? %>
    <p>Não há itens disponíveis</p>
  <% else %>

    <%= form_with(url: add_item_lot_path(@lot.id)) do |f| %>
      <div class="form-group d-flex flex-column w-25 mx-auto">
        <%= f.label :item_id, 'Item' %>
        <%= f.collection_select :item_id, @items, :id, :name, class: "form-control" %>
      </div>
      <%= f.submit 'Confirmar Adição', class: "btn btn-primary my-2" %>
    <% end %>
    
  <% end %>
<div>